html { font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;;
  color: #fff;
  background-color: #0a0909;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.875rem;
  /* margin: 1.875em 0; */
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  border-radius: 0.3125rem;
  width: 100%;
}

p {
  font-size: 1.5rem;
  line-height: 1.4em;
  margin: 0.625em 0;
  font-weight: 400;
}

.container {
  max-width: 73.75rem;
  margin: 0 auto;
  padding: 0 1.5em;
}

.margin-top {
  margin-top: 4.375rem;
}

/* Header */
.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 6.25em;
  background-color: #0e0d0d;
}

.btn {
  width: 4em;
  height: 4em;
  padding: 0;
  border: none;
  background-color: none;
  background: url(/icons/menu.svg) center / 100%;
}

.menu-ol_bar {
  display: none;
}

.menu-bar_active {
  display: block;
  position: absolute;
  top: 6.2rem;
  right: 0;
  height: calc(100% - 6.2rem);
  width: 100%;
  background-color: #0e0d0d;
  text-align: center;
  line-height: 5em;
}

nav li > a {
  font-size: 2rem;
}

.menu-ol_bar a:hover {
  text-decoration-line: underline;
  color: #9f9f9f;
}


/* Footer */
.footer {
  padding: 1em 0;
  background-color: #0e0d0d;
}

.footer div {
  display: flex;
  justify-content: space-between;
}

.redes-footer {
  display: flex;
  gap: 1.875rem;
}

.redes-footer img {
  height: 3em;
  width: 3em;
}



/* Página de Inicio */
.beginning-main {
  display: flex;
  flex-direction: column;
  gap: 3.4375rem;
}

.profile {
  width: max-content;
  margin: 0 auto;
  text-align: center;
}

.profile img {
  border-radius: 50%;
  margin-bottom: 1.25rem;
  width: 20rem;
  height: 20rem;
}

.profile p {
  max-width: 30rem;
}

.recent-title {
  padding: 1.5625rem 0;
  text-align: center;
  border-radius: 0.9375rem;
  /* margin-bottom: 1.875rem; */
  background-color: #0e0d0d;
}

.recent {
  font-size: 3.125rem;
}

.recent:active {
  color: #9f9f9f;
}

.recent-list {
  display: flex;
  gap: 2.5em;
  padding: 0;
  flex-wrap: wrap;
}

.recent-list li{
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.625rem;
  background-color: #0e0d0d;
}


/* Curriculum */
.curriculum-container {
  padding: 3.5rem 2.5rem;
  border-radius: 0.625rem;
  background-color: #0e0d0d;
}

.curriculum-container h1 {
  max-width: 34.375rem;
  margin-bottom: 3.125rem;
}

.curriculum-ul li div{
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem;
  max-width: 50rem;
}

.curriculum-ul h2 {
  border-bottom: 2px solid #9f9f9f;
}

.curriculum-ul p {
  margin-bottom: 1.875rem;
  max-width: 59.375rem;
}

.curriculum-ul li img {
  width: 12.5rem;
  height: 11.875rem;
}


/* Portafolio */
.portafolio-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.125rem;
}

.portafolio-ul li {
  flex-basis: 47%;
  text-align: center;
  padding: 1.875rem 4.375rem;
  border-radius: 0.625rem;
  background-color: #0e0d0d;
}

.portafolio-ul li:last-child img {
  max-height: 295px;
}




/* Contacto */
.contacto-container {
  padding: 2.8125rem 6.25rem;
  border-radius: 0.625rem;
  max-width: 50rem;
  background-color: #0e0d0d;
}

.contacto-container form {
  width: 37.5rem;
}

.contacto-container form p{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacto-container input,
.contacto-container textarea {
  border-radius: 0.625rem;
  padding: 1.25rem 0 1.25rem 1.25rem;
  font-size: 1.5625rem;
}

.contacto-container select{
  padding: 0.9375rem 0;
  font-size: 25px;
  font-weight: 500;
}

.contacto-container input[type="submit"] {
  font-size: 1.5625rem;
  font-weight: bold;
  color: #0e0d0d;
}

.contacto-container address {
  display: flex;
  justify-content: space-between;
}